.comment {
    border: 1px solid gray;
    margin: 10px;
    width: 280px;
  }
  .commentOwner {
      display: flex;
      justify-content: space-around;

      &__img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 5px;
        align-self: center;
      }
      &__name {
        font-weight: bold;
      }
      &__email {
        color: gray;
        font-size: 12px;
      }

  }
  .commentText {
      padding: 10px;
      &__date {
          text-align: right;
          font-size: 12px;
          color: gray;
      }

  }