.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.userInfo {
  padding: 15px;
  margin: 15px;
  width: 250px;
  text-align: center;
  border: 1px solid gray;
}
.name {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.email{
  color: gray;
}
.main_info {
  border-bottom: 1px solid gray;

}

.navigation .link {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0 15px;
}
.post{
  width: 250px;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}
.posts-list{
  display: flex;
  flex-wrap: wrap;
}
.tag-wrapper {
  border: 1px solid gray;
  padding: 10px;
  margin: 5px;
}
.tag {
  color: white;
  background-color: palevioletred;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
}
.tags-list, .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.shortUserInfo-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  margin: 5px;
}
.shortUserInfo-picture{
  width: 30%;
}
.post-img{
  width: 250px;
}
.round-image {
  border-radius: 50%;
  width: 35px;
}
.comment{
  border: 1px solid gray;
  margin: 10px;
}